/******  List View CSS ******/

.imagegallery-listentry .img-wrapper img {
    width: 300px;
    height: auto;
}

#imagegallery-list .card {
    margin-top: 30px;
    margin-bottom: 15px;
}

.imagegallery-listentry .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

/*****  Single View CSS *****/

.imagegallery-single-body .col {
    padding: 10px 15px;
}

/*****  Add entry CSS *****/

.imagegallery-addentry .form-group label,
.asearchtemplate .form-group label {
    font-weight: bold;
    padding-top: 20px;
}
