/******  List View CSS ******/

.imagegallery-listentry .img-wrapper img {
    flex-shrink: 0;
    width: 100%;
}

#imagegallery-list .card {
    margin-top: 30px;
    margin-bottom: 15px;
}

/*****  Single View CSS *****/

.imagegallery-single-body .col {
    padding: 10px 15px;
}

/*****  Add entry CSS *****/

.imagegallery-addentry .form-group label,
.imagegallery-asearch .form-group label {
    font-weight: bold;
    padding-top: 20px;
}
