{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_courseformat/local/courseindex/cmcompletion

    Displays a course index course-module entry.

    Example context (json):
    {
        "state": 1,
        "statename": "Completed"
    }
}}
{{#iscompleted}}
    <span class="completioninfo completion_completed" data-for="cm_completion" data-value="{{state}}">
        {{#pix}} t/completion_completed, moodle, {{#str}} completed, completion {{/str}} {{/pix}}
    </span>
{{/iscompleted}}
{{#isincompleted}}
    <span class="completioninfo completion_incompleted" data-for="cm_completion" data-value="{{state}}">
        {{#pix}} t/completion_incompleted, moodle, {{#str}} incompleted, completion {{/str}} {{/pix}}
    </span>
{{/isincompleted}}
{{#isfailed}}
    <span class="completioninfo completion_failed" data-for="cm_completion" data-value="{{state}}">
        {{#pix}} t/completion_failed, moodle, {{#str}} failed, completion {{/str}} {{/pix}}
    </span>
{{/isfailed}}
{{^hasstate}}
    <span class="completioninfo completion_none" data-for="cm_completion" data-value="{{state}}"></span>
{{/hasstate}}
